/**
 * @file
 * Open table in modal styling for Stacktable module.
 */

.stacktable__open-table-in-modal {
  overflow: hidden;
  position: relative;
}

.stacktable__open-table-in-modal caption,
.stacktable__open-table-in-modal thead {
  display: none;
}

.stacktable__open-table-in-modal:before {
  align-items: center;
  background: rgba(0,0,0,.6);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.6em;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.stacktable__open-table-in-modal th,
.stacktable__open-table-in-modal td {
  content: "";
  font-size: 0;
  height: 7px;
  padding: 0 !important;
}

.stacktable__open-table-in-modal tr:nth-child(n+10) td {
  display: none;
}

.stacktable__table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .stacktable__table-responsive {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    margin-bottom: 0.75rem;
    overflow-y: hidden;
    width: 100%;
  }
  .stacktable__table-responsive > .table {
    margin-bottom: 0;
  }
  .stacktable__table-responsive > .table > thead > tr > th,
  .stacktable__table-responsive > .table > thead > tr > td,
  .stacktable__table-responsive > .table > tbody > tr > th,
  .stacktable__table-responsive > .table > tbody > tr > td,
  .stacktable__table-responsive > .table > tfoot > tr > th,
  .stacktable__table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .stacktable__table-responsive > .table-bordered {
    border: 0;
  }
  .stacktable__table-responsive > .table-bordered > thead > tr > th:first-child,
  .stacktable__table-responsive > .table-bordered > thead > tr > td:first-child,
  .stacktable__table-responsive > .table-bordered > tbody > tr > th:first-child,
  .stacktable__table-responsive > .table-bordered > tbody > tr > td:first-child,
  .stacktable__table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .stacktable__table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .stacktable__table-responsive > .table-bordered > thead > tr > th:last-child,
  .stacktable__table-responsive > .table-bordered > thead > tr > td:last-child,
  .stacktable__table-responsive > .table-bordered > tbody > tr > th:last-child,
  .stacktable__table-responsive > .table-bordered > tbody > tr > td:last-child,
  .stacktable__table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .stacktable__table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .stacktable__table-responsive > .table-bordered > tbody > tr:last-child > th,
  .stacktable__table-responsive > .table-bordered > tbody > tr:last-child > td,
  .stacktable__table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .stacktable__table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
